* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.col-1:nth-child(8) {
  border: none;
  background: #efefef;
}

.col-1:nth-child(21) {
  border: none;
  background: #efefef;
}

.container {
  box-shadow: 5px 10px;
  border: 5px solid black;
  position: relative;
}

h1 {
  font-family:sans-serif;
  font-weight: bold;
}

header {
  text-align: center;
  background-color:#e6e6e6;
  margin-bottom: 10px;
}

img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 200px;
}

.absolute {
  position: absolute;
}
